<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatteryMonitorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatteryMonitorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BatteryMonitorGUI.Properties.Settings>
            <setting name="autoConnectLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="watchVoltage" serializeAs="String">
                <value>12.4</value>
            </setting>
            <setting name="warningVoltage" serializeAs="String">
                <value>12.2</value>
            </setting>
            <setting name="watchAmperage" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="warningAmperage" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="lastComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="watchColor" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="warningColor" serializeAs="String">
                <value>#FFF10000</value>
            </setting>
            <setting name="normalColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
        </BatteryMonitorGUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BatteryMonitorGUI.Properties.Settings>
            <setting name="minVoltageRange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="maxVoltageRange" serializeAs="String">
                <value>14.8</value>
            </setting>
            <setting name="minAmperageRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxAmperageRange" serializeAs="String">
                <value>10</value>
            </setting>
        </BatteryMonitorGUI.Properties.Settings>
    </applicationSettings>
</configuration>
